body {
    min-height: 100%; /* Asegura que el body ocupe al menos toda la pantalla */
    display: flex;
    flex-direction: column;
}

.precio-title {
    text-align: center;
    color: #333;
}

.main-container-precios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    margin-bottom: 2rem;
    background-color: #555;
}

.bg-tittle {
    background-size: cover;
    background-position: center;
    margin: 4px;
    padding: 10px;
    border-radius: 7px;
    position: relative;
    background-color: white;
}

.bg-tittle::before {
    border-radius: 7px;
    background-image: url("/img/designer-normal.jpg");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    mix-blend-mode: multiply;
}

.diseñador-normal,
.diseñador-extracto,
.nicho-normal,
.nicho-extracto {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 270px;
    text-align: center;
    transition: all 0.3s ease;
}

.diseñador-normal:hover,
.diseñador-extracto:hover,
.nicho-normal:hover,
.nicho-extracto:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

table {
    width: 75%; 
    border-collapse: collapse;
    margin: 20px auto; 
    font-size: 0.90rem; 
}

th,
td {
    border: 1px solid #ddd;
    padding: 6px;
}

th {
    background-color: #f2f2f2;
    font-size: 0.85rem;
}


.envios-container {
    margin: 2rem auto;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%; 
    max-width: 800px;
    margin-bottom: 4rem;
}

.envios-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.envios-container p {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0; 
}

.envios-container button {
    margin-top: 1rem; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    color: #fff; 
    background-color: #333; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.envios-container button:hover {
    background-color: #555; 
}

@media screen and (max-width: 550px) {
    .main-container-precios {
        height: auto;
    }
}


